h3{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    font-family: "UniversLTStd-BoldCn", sans-serif; 
    text-transform: uppercase;
    margin-top: 8px;
    padding: .5em 0 .5em;
}


body{
    font-family: "UniversLTStd-BoldCn", sans-serif;  
    font-size: 16px;
    color: 	#5d5d5d;
    background-color: white;
    max-height: max-content

}

.container{
    font-family: "UniversLTStd-BoldCn", sans-serif; 
    box-sizing: border-box;
    border: black;
    background: #F0f0f0;
    margin-top: 10px;
    line-height: 19.2px;
    color: 	#5d5d5d;
    width: 950px;
    max-height: 800px
}



.menu-items-list{
    margin-top: 20px;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    position: relative;
    top: -520px;
    left: 200px;

    max-height: inherit;

}




.cart{
    font-family: "UniversLTStd-BoldCn", sans-serif;     
    text-align: center;
    margin-top: 8px;    
    color: 	#5d5d5d;
    line-height: 19.2px;
    width: 250px;
    position: fixed;
    right: 0px;
    top: 0px;
    background: white ;
    overflow-y: scroll;
    }




.order{
    text-align: center;
    position: relative;
    left: 0px;
    top: 0px;
    width: 900px;
    height: 590px;
    box-sizing: border-box;
    font-family: "UniversLTStd-BoldCn", sans-serif;  
    color: 	#5d5d5d;
    text-align: center;
}



.menu-button{
    font-weight: 400px;
    font-size: 20px;
    background: #F8F8F8;
    color:    #5d5d5d;
    text-align: right;
    line-height: 19.2px;
    font-family: "UniversLTStd-BoldCn", sans-serif;  
    margin-bottom: 2em;
    padding: .5em 1em .5em;
    border: gray;
    width: 110px;
    height: 60px;
 }

 .key-button{
    margin: 8px;
    font-weight: 400px;
    font-size: 20px;
    background: #F8F8F8;
    color:    #5d5d5d;
    text-align: left;
    line-height: 19.2px;
    font-family: "UniversLTStd-BoldCn", sans-serif;  
    margin-bottom: 2em;
    padding: 1em 1em 1em 1em;
    border: gray;
}


.card{
    font-family: "UniversLTStd-BoldCn", sans-serif;  
    width: 220px;
    display: table;
    height: 220px;
    box-sizing: border-box;
    border: #313131;
    background: #F0f0f0;
    color: gray;
    }    

img{
    height: 147px;
    width: 220px;

}

.add-button{
    border-color: #313131;
    color: #313131;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 500;
    padding: 0.65em 0.65em 0.65em;
    font-family: "UniversLTStd-BoldCn", sans-serif; 
}

.remove-button{
    border-color: #313131;
    color: #313131;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    padding: 0.2em 0.2em 0.2em;
    font-family: "UniversLTStd-BoldCn", sans-serif; 
}

input[type=text]{
    border-color: #313131;
    color: navy;
    padding-bottom: 2px;
    font-weight: 500;
    padding-top: 2px;
}

button[type=submit]{
    margin: 8px;
    font-weight: 400px;
    font-size: 20px;
    background: #F8F8F8;
    color:    #5d5d5d;
    text-align: left;
    line-height: 19.2px;
    font-family: "UniversLTStd-BoldCn", sans-serif;  
    margin-bottom: 2em;
    padding: 1em 1em 1em 1em;
    border: gray;
}



